*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header{
    background-color: #004D29;
        /* Aplica la propieda fle al todo el heaer */
    display: flex;
    /* Que me header distribuya los elementos para ocupar todo el espeacio con una misma medida */
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

header div{

    display: flex;
    align-items: center;
}

a{
    /* Saca la decoracion de los links (subrayado) */
    text-decoration: none;
    color: white;
}

/* Menu de navegación */

.navbar{
    /* El menu completo pero sin ser visible para darle animacion con js */
    opacity: 0;
    visibility: hidden;

    display: flex;
    /* Los elementos estaran en columna */
    flex-direction: column;
    /* estaran al inicio (izquierda) */
    align-items: start;
    background-color: #004D29;
    position: absolute;
    gap: 1rem;
    padding: 2rem 20px 2rem;
    left: 0;
    top: 0;
    bottom: 0;
    /* Su fondo sera mas oscuro */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar.visible{
    /* menu visible que pisa los anteriores atributos con js */
    opacity: 1;
    visibility: visible;
}

.abrirMenu,
.cerrarMenu{
    display: block;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.navList{
    /* Elimina los puntos de las listas */
    list-style-type: none;
    display: flex;
    /* Para que mi menu quede en columnas */
    flex-direction: column;
    gap: 2rem;
}

.navList li a{
    color: white;
    font-size: 25px;
}

/* Logo del Navbar */
.logo {
    max-width: 100%;
    height: auto;
    display: block; /* Hacer que la imagen sea un bloque para que el contenedor se ajuste correctamente */
}

.logo img{
    max-width: 100%;
    height: auto;
    display: block;
}

.logoMovil{
    display: none;
    visibility: hidden;
}

/* Estilo de la etiqueta <a> que rodea al logo
.logo-link {
    display: inline-block;
} */

/* Search del navbar */

.search {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    justify-content: center;
    padding: 0;
}



.searchTerm {
    width: 70%;
    border: 2px solid #7e7e7e;
    border-right: none;
    padding: 16px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
    background-color: #F2EEE4;
    font-size: 1rem;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 2px solid #7e7e7e;
    background: #7e7e7e;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.cuenta{
    width: 20%;
    gap: 10px;
    color: white;
    display: flex;
    justify-content: end;
}



.cuenta a,.cuenta p{
    display: flex;
    font-size: 18px;
}

.shopCar{
    padding-right: 10px;
}

/* diseño responsive */
@media(max-width: 1246px){
    .logo{
        width: 80%;
    }

    .search{
        width: 75%;
    }
}

@media (max-width: 1110px){
    .cuenta{
        display: none;
    }

    .logo{
        display: none;
    }

    .logoMovil{
        display: flex;
        visibility: visible;
        max-width: 100%;
        height: auto;
        display: block;
        width: 5rem;
    }
}