*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Header */
header{
    background-color: #004D29;
        /* Aplica la propieda fle al todo el heaer */
    display: flex;
    /* Que me header distribuya los elementos para ocupar todo el espeacio con una misma medida */
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

header div{
    display: flex;
    align-items: center;
}

a{
    /* Saca la decoracion de los links (subrayado) */
    text-decoration: none;
    color: white;
}

/* Menu de navegación */

.navbar{
    /* El menu completo pero sin ser visible para darle animacion con js */
    opacity: 0;
    visibility: hidden;

    display: flex;
    /* Los elementos estaran en columna */
    flex-direction: column;
    /* estaran al inicio (izquierda) */
    align-items: start;
    background-color: #004D29;
    position: absolute;
    gap: 1rem;
    padding: 2rem 20px 2rem;
    left: 0;
    top: 0;
    bottom: 0;
    /* Su fondo sera mas oscuro */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar.visible{
    /* menu visible que pisa los anteriores atributos con js */
    opacity: 1;
    visibility: visible;
}

.abrirMenu,
.cerrarMenu{
    display: block;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.navbarList{
    /* Elimina los puntos de las listas */
    list-style-type: none;
    display: flex;
    /* Para que mi menu quede en columnas */
    flex-direction: column;
    gap: 2rem;
}

.navbarList li a{
    color: white;
    font-size: 25px;
}

/* Logo del Navbar */
.logoHeader {
    max-width: 100%;
    height: auto;
    display: block; /* Hacer que la imagen sea un bloque para que el contenedor se ajuste correctamente */
}

.logoHeader img{
    max-width: 100%;
    height: auto;
    display: block;
}

.logoMovilHeader{
    display: none;
    visibility: hidden;
}

/* Search del navbar */

.buscadorHeader {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    justify-content: center;
    padding: 0;
}

.searchTerm {
    width: 70%;
    border: 2px solid #7e7e7e;
    border-right: none;
    padding: 16px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
    background-color: #F2EEE4;
    font-size: 1rem;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 2px solid #7e7e7e;
    background: #7e7e7e;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
/* Login y register de compras navbar */
.cuenta{
    width: 20%;
    gap: 10px;
    color: white;
    display: flex;
    justify-content: end;
}

.cuenta a,.cuenta p{
    display: flex;
    font-size: 18px;
}

/* Carrito de compras navbar */
.carritoCompras{
    padding-right: 10px;
}

/* diseño responsive */
@media(max-width: 1246px){
    .logoHeader{
        width: 80%;
    }

    .buscadorHeader{
        width: 75%;
    }
}

@media (max-width: 1110px){
    .cuenta{
        display: none;
    }

    .logoHeader{
        display: none;
    }

    .logoMovilHeader{
        display: flex;
        visibility: visible;
        max-width: 100%;
        height: auto;
        display: block;
        width: 5rem;
    }
}

/* Footer*/
footer{
  background-color: #004D29;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
   height: 40vh; /* Usar viewport height para hacerlo responsive en altura */  
  /* position: absolute; */
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

footer a{
  color: #000000;
}

.derechosAutor {
  background-color: #F2EEE4;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em; /* Usar unidades relativas */
  text-align: center;
  height: 20%;
}

/* Estilos para las columnas */
.filaFooter { 
   padding: 1%;
  box-sizing: border-box;
  height: 28vh;
  width: 100%;  
  display: flex;
  flex-wrap: wrap;  
}

.column:last-child {
   border-right: none;
}
  
.columnaMedia{
  width: 50%;    
}

.columnaDerecha{
  width: 25%;
  float: left;
  box-sizing: border-box; /* Esto incluye el borde en el ancho total */
font-size: 1.5em;
}

.columnaIzquierda {
  width: 24%;
  float: left;
  box-sizing: border-box; /* Esto incluye el borde en el ancho total */
}
.redesFooter {
  display: flex;
  text-align: center;
}

.infoFooter {
  text-align: center;
  font-size: 1.5em; /* Usar unidades relativas */
  padding: 1em;
}

.linksFooter {
  text-align: center;
  margin: 25px;
}

/* Estilos para hacer el logo responsive y alineado a la izquierda */
.logoFooter {
width: 50%; /* El logo se ajustará al tamaño del contenedor */
height: 20%;
display: flex;
justify-content: flex-start; /* Alinea el contenido al principio del contenedor */
margin-bottom: 0.5em; /* Añade un margen inferior más pequeño */
}

.tituloFooter{
  text-align: center;
}

.formasPagoFooter{
display: flex;
flex-direction: column;
align-items: center; /* Centra horizontalmente los elementos */
text-align: center;

display: inline;
justify-content: center;

}

.formasPagoFooter ul{
display:inline ;
justify-content: center;
}

.metodosPagoFooter svg{
  margin: 5%;
}

.otro img{
  display: none;
  visibility: hidden;
}
.textoColumnaIzquierda a{
  text-decoration: underline;
  color: black;
}
.columnaMedia a{
  text-decoration: underline;
  color: black;
}
.tercerColumna a{ text-decoration: underline;
  color: black;}

/*pantallas chicas*/
@media (max-width: 576px) {
footer{
  font-size: 10px;
  height: 25vh;
}

.logoFooter img{
  display: none;
  visibility: hidden;
}

.otro img{
   display: flex;
  visibility: visible;
  height: 100%;
}

.textoColumnaIzquierda{
  width: 90%;
  display: contents;
  justify-content: center;
  font-size: 12px;
}
.textoColumnaIzquierda a{
  text-decoration: underline;
  color: black;
}
.columnaIzquierda {
  width: 25%;
  height: 24vh;
  font-size: 12px;
}
.columnaDerecha {
  width: 25%;
  height: 24vh;
  font-size: 12px;
}
.columnaMedia{
width: 50%;
height: 24vh;
font-size: 45px;
}
.redesFooter svg{
  width: 25%;
}
.metodosPagoFooter svg{
  width: 15%;
}

.infoFooter {
font-size: 12px; /* Reducir el tamaño de fuente */
align-items: center;
width: 100%;
}

.linksFooter {
margin: 5px; /* Reducir el margen */
text-decoration: underline;
color: black; /* Puedes elegir el color que desees */
}

.formasPagoFooter h2{
  width: 90%;
  align-items: center;
  font-size:15px;
}

.tercerColumna{
  margin-top: 10px;
margin-left: 10px;
}
.tercerColumna a{
  text-decoration: underline;
  color: black;
}

}

/*pantallas medianas*/
@media only screen and (min-width: 577px) and (max-width: 768px) {
footer{font-size: 10px;
height: 25vh;}

.logoFooter img{
  width: 140%;
}

.logoFooter{
  width: 70%;
  visibility: visible;
}
.logoMovilFooter{
  display: none;
  visibility: hidden;
}

.textoColumnaIzquierda{
  width: 100%;
  font-size: 12px;
}

.columnaIzquierda {
width: 25%;
height: auto;
font-size: 8px;
}
.columnaDerecha {
width: 25%;
font-size: 15px;
}
.columnaMedia{
width: 50%;
font-size: 11px;

}
.redesFooter {
margin: 10%; /* Reducir el margen en pantallas pequeñas */
} 
.redesFooter svg {
   width: 50%; /* Tamaño relativo más grande para imágenes de redesFooter sociales */
  height: 20%;
}
.metodosPagoFooter svg{
  width: 15%;
  height: 10%;
}
.infoFooter {
  font-size: 15px; /* Reducir el tamaño de fuente */
  display: flex;
  justify-content: center;
}
.linksFooter {
  margin: 10px; /* Reducir el margen */
  }
.formasPagoFooter h2{
  font-size:15px ;
  }
.tercerColumna{
  margin-left: 20px;
  }

}

/*pantallas grandes*/
@media only screen and (min-width: 769px) and (max-width: 992px) {
footer{
  height: 30vh;
}
.filaFooter{
 height: 30vh;
}
.logoFooter img{
    width: 160px;
    height:100%;
   }
  
.columnaIzquierda {
  width: 25%;
 }
.columnaDerecha {
  width: 25%;
  font-size: 15px;
  }
.columnaMedia{
  width: 50%;
  font-size: 50px;
}
.textoColumnaIzquierda{
  font-size: 15px;
}
.redesFooter {
margin: 10%; /* Reducir el margen en pantallas pequeñas */
width: 100%;
}
.redesFooter svg {
  width: 25%; /* Tamaño relativo más grande para imágenes de redesFooter sociales */
}
.infoFooter {
  font-size: 20px; /* Reducir el tamaño de fuente */
  display: flex;
  justify-content: center;
  }
.linksFooter {
  margin: 10px; /* Reducir el margen */
    }
.formasPagoFooter h2{
  font-size:  20px;
 }

.metodosPagoFooter svg{
    width: 10%;
}   
.tercerColumna{
  margin-left: 25px;
  font-size: 18px;
  }
}
/*Pantallas Extras*/  
@media only screen and (min-width: 993px) and (max-width: 1260px) {
footer{
   height: 30vh;
  
  }
.derechosAutor{
  margin:20px;
 }
.logoFooter img{
  width:200px;
  height: 100%;
}
.textoColumnaIzquierda{
      width: 100%;
      font-size: 15px;
  }
    
.columnaIzquierda {
  width: 25%;
  height: auto;
 }
.columnaDerecha {
  width: 25%;
  font-size: 15px;
  }
.columnaMedia{
  width: 50%;
   }
  .redesFooter {
  margin: 1%; /* Reducir el margen en pantallas pequeñas */
  width: 100%;
  }
  .redesFooter svg {
    margin-top: 5%;
    width: 25%; /* Tamaño relativo más grande para imágenes de redesFooter sociales */
  }
  .metodosPagoFooter svg{
    margin: 5%;
  } 
    
  .infoFooter {
      font-size: 18px; /* Reducir el tamaño de fuente */
      justify-content: center;
      
    }
   .linksFooter {
      margin: 5px; /* Reducir el margen */
      }
      .formasPagoFooter h2{
      font-size:  20px;
      }
       
      .tercerColumna{
      margin-left: 20px;
      }
  }
/*ver*/
  @media only screen and (min-width: 1262px) and (max-width: 1690px) {
    footer{
      height: 35vh;
     }
     .filaFooter{
      height: 35vh;
     }

    .logoFooter img{
       width: 300px;
       height: 70px;
      }
      
    .textoColumnaIzquierda{
        width: 100%;
        font-size: 15px;
        margin-top: 10%;
    }
      
    .columnaIzquierda {
      width: 25%;
      }
    .columnaDerecha {
      width: 25%;
      }
    .columnaMedia{
      width: 50%;   
    }
    .redesFooter {
    margin: 8%; /* Reducir el margen en pantallas pequeñas */
    width: 100%;
    }
    .redesFooter img {
      width: 15%; /* Tamaño relativo más grande para imágenes de redesFooter sociales */
    }
      
  .infoFooter {
     font-size: 20px; /* Reducir el tamaño de fuente */
     display: flex;
     justify-content: center;
  }
  .linksFooter {
    margin: 10px; /* Reducir el margen */
  }
  .formasPagoFooter h2{
    font-size:  25px;
    }
 .tercerColumna{
    margin-left: 20px;
    font-size: 20px;
        }
    }
