
    /* Estilos generales */
    .vistaTerminosYcondiciones {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        padding: 20px;
        max-width: 1200px;
        overflow: hidden;
    }

    .tituloTerminosYcondiciones {
        text-align: center;
        font-size: 16px;
        line-height: 3;
        color: #004d29;
        font-weight: bold;
        width: 100%;
    }

    .contenidoTerminosYcondiciones {
        font-size: 16px;
        line-height: 1.6;
        color: #004d29;
        font-weight: 400;
    }
  
    .botonesT .bTerminos{
        display: flex; /* Usamos flexbox para alinear los botones en línea */
        justify-content: end; /* Centramos los botones horizontalmente */
    }
    
    .botonesT .bTerminos a {
        margin-right: 10px; /* Añadimos un margen a la derecha para separar los botones */
    }
    
    /* Si quieres que los botones se muestren uno al lado del otro incluso en pantallas pequeñas */
   .volver{
    display: flex;
    justify-content: flex-end;
   }
    .atras {
        text-decoration: none;
        color: #ffde59;
        padding: 10px 15px;
        border: 1px solid #004d29;
        border-radius: 5px;
        background-color: #004d29;
        margin-left: 1%;
      }
      
      .atras:hover {
        background-color: #ffde59; /* Cambio de color de fondo al pasar el mouse */
        color: #004d29;
      }
      
    .subirBoton, .paginaPBoton {
        text-decoration: none;
        color: #ffde59;
        padding: 10px 15px;
        border: 1px solid #004d29;
        border-radius: 5px;
        background-color: #004d29;
        margin-left: 1%;
        display: flex;
        justify-content: center;
        
    }

    .subirBoton:hover, .paginaPBoton:hover {
        background-color: #ffde59; /* Cambio de color de fondo al pasar el mouse */
        color: #004d29;
      }

    /* Estilos específicos para pantallas pequeñas */
    @media screen and (max-width: 600px) {
        .terminosYcondiciones {
            border-radius: 0;
            box-shadow: none;
        }

        .contenidoTerminosYcondiciones {
            font-size: 12px;
        }
    }
 @media (max-width: 576px) {
        .botonesT .bTerminos {
            flex-direction: column; /* Cambiamos la dirección a columna */
            align-items: center; /* Centramos los botones verticalmente */
        }
    
        .botonesT .bTerminos a {
            margin-right: 0; /* Quitamos el margen a la derecha */
            margin-bottom: 10px; /* Añadimos un margen hacia abajo para separar los botones */
        }
    }

