/*CONTENEDOR CATEGORIAS*/
.contCategorias {
    display: flex;
    justify-content: space-between;
    margin: 0 5%; /* Margen del 5% a cada lado */
}

.contFiltros {
    width: 20%; /* 20% del ancho del contenedor */
    background-color: lightblue;
}

.galeriaProductos {
    width: 70%; /* 70% del ancho del contenedor */
    background-color: lightgreen;
}

/*SECCION GALERIA*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.product a{
    display: block; /* Cambio de display a block */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
}

.product a:hover{
    display: block; /* Cambio de display a block */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
}

.product img {
    max-width: 100%;
    height: auto;
}
.dropdown{
    display:inline-block;
}

.dropdown-toggle {
    cursor: pointer;
  }
  
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 0;
  right: 0; /* Ajusta la posición del menú a la derecha */
  margin-right: 5%; 
  text-align: left;
}
  
.dropdown-menu li {
  list-style: none;
}
  
.dropdown-menu li a {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  color: #333;
}
  
.dropdown-menu li a:hover {
   background-color: #f0f0f0;
}

.ordenarPor{
     margin-right: 10%;
    text-align: right; /* Alinea el contenido a la derecha */
}
